
<div class="must">
  <div class="main-container">
    <div class="form-header">
      <h2>Login</h2>
    </div>
    <mat-card class="card" class="alternate-theme">
      <form class="login-form" [formGroup]="userFormLogin" (ngSubmit)="onSubmit()" *ngIf="!isLoad; else templateRefLoader">

        <mat-form-field color="accent">
          <input matInput placeholder="Email" formControlName="userEmail">
        </mat-form-field>

        <mat-error *ngIf="emailErrMsgFromBackend">
          <p class="error-msg">{{ emailErrMsgFromBackend }}</p>
        </mat-error>

        <mat-error *ngIf="userFormLogin.controls['userEmail'].invalid && userFormLogin.controls['userEmail'].touched">
          <p class="error-msg">{{ formControlEmailMsg }}</p>
        </mat-error>

        <br/>

        <mat-form-field color="accent">
          <input matInput placeholder="Password" formControlName="userPassword" type="password">
        </mat-form-field>

        <mat-error *ngIf="passErrMsgFromBackend">
          <p class="error-msg">{{ passErrMsgFromBackend }}</p>
        </mat-error>

        <mat-error *ngIf="userFormLogin.controls['userPassword'].invalid && userFormLogin.controls['userPassword'].touched">
          <p class="error-msg">{{ formControlPassMsg }}</p>
        </mat-error>

        <br/>

        <button mat-raised-button [disabled]="userFormLogin.invalid" color="accent">Login</button>
      </form>

      <ng-template #templateRefLoader class="alternate-theme">
        <mat-spinner [diameter]="100" class="spinner" color="accent"></mat-spinner>
      </ng-template>

    </mat-card>
  </div>
</div>
