 <div class="container">
  <div>
   <h2>{{data.title}}</h2>
  </div>
  <div>
    <form [formGroup]="createTaskGroup">
     <mat-form-field>
       <input matInput placeholder="Title" formControlName="title">
     </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Description" formControlName="desc">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Status" formControlName="status">
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="myDatepicker" placeholder="Date" formControlName="date">
        <mat-datepicker-toggle [for]="myDatepicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Place" formControlName="place">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Address" formControlName="address">
      </mat-form-field>

    </form>
  </div>
   <div class="footer">
     <mat-card-actions align="center">
       <button *ngIf="!isEdit;else edit" mat-raised-button [disabled]="createTaskGroup.invalid" (click)="createTask()">Create</button>
       <ng-template #edit>
         <button mat-stroked-button>Save Edit</button>
       </ng-template>
       <button mat-stroked-button (click)="resetForm()"> Reset</button>
       <button mat-stroked-button mat-dialog-close>Cancel</button>
     </mat-card-actions>
   </div>
 </div>
