mat-form-field {
  width: 70%;
}
form, h2, .footer {
  text-align: center;
}

button{
  margin-left: 5px;
}

.container {
  background-size: cover;
  background-image: url("https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/3505915/300/200/m1/fpnw/wm0/121-.jpg?1509521440&s=7db40937c4065c15d35ffdce5ed30e11");
  border-radius: 9px;
  padding: 10px;
}


