
<div>
  <button mat-stroked-button (click)="createTask()">Create Task</button>
  <mat-form-field >
    <mat-select [(value)]="filterSelectedValue" >
      <mat-option *ngFor="let item of filterList" [value]="item.value">
        {{item.status}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Search..." (keyup)="doFilter($event.target.value)"  >
  </mat-form-field>
</div>


<div>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <mat-select [(value)]="element.status">
            <mat-option *ngFor="let item of statuses" [value]="item.value">
              {{item.status}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <ng-container matColumnDef="place">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Place </th>
      <td mat-cell *matCellDef="let element"> {{element.place}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Update </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button mat-icon-button color="accent" (click)="redirectToUpdate(element, i)">
          <mat-icon class="mat-18">system_update</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button mat-icon-button color="warn" (click)="redirectToDelete(i)">
          <mat-icon class="mat-18">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"
    [ngClass]="{'rejected': row.status === '3', 'pending': row.status === '1', 'resolve': row.status === '2'}"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 2, 1]" showFirstLastButtons></mat-paginator>
 </div>

<notifier-container></notifier-container>

