/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular-notifier/styles";


html, body { height: 100vh; }

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-image: url("https://i.pinimg.com/originals/54/5b/df/545bdf924f280ce49792ed23ce97b60d.jpg");
}
